.homeBody {
    height: 80vh;
    align-items: center;
    margin-top: -50vh;
    width: 100vw;

    .itemization {
        padding-top: 1vh;
        height: 40vh;
        padding-left: 20vw;
        visibility: hidden;
        transform: translateY(-500%);
        ul {
            display: flex;
            height: 40vh;
            width: 65vw;
            gap: 1vw;
            padding-top: 2vh;
            text-align: center;
            list-style: none;

            li {
                border-radius: 2px;
                background-color: rgba(18, 17, 17, 0.628);
                height: 6vh;
                font-size: 1.6em;
                font-weight: bolder;
                padding: 1vw;
                color: rgba(255, 255, 255, 0.769);
                letter-spacing: 1px;
                cursor: pointer;
                transition: 0.2s ease-in-out;
            }

            li:hover {
                background-color: rgba(18, 17, 17, 0.802);
                transform: scale(1.1);
            }

            #l1 {
                margin-top: 15vh;
            }
            #l2 {
                margin-left: 1vw;
            }
            #l3 {
                margin-top: 28vh;
                margin-left: -17vw;
            }
            #l4 {
                margin-left: 5vw;
                margin-top: 15vh;
            }
        }
    }

    .activate {
        visibility: visible;
        transform: translateY(0%);
        transition: 1s;
    }

    .end {
        text-align: center;
        align-items: center;

        #party {
            text-align: center;
            border: none;
            border-radius: 2px;
            color: white;
            width: 28vw;
            margin-left: 38vw;
            margin-top: -5vh;
            height: 2vh;
            padding-bottom: 10vh;
            padding-top: 0.5vh;
            align-items: center;
            background-color: rgba(245, 222, 179, 0.727);
            cursor: pointer;
            transition: 1s ease-in-out;

            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            pointer-events: auto;
        }
        #party:hover {
            background-color: rgba(246, 160, 0, 0.453);
            transform: scale(1.02);
            transition: 0.2s ease-in-out;
        }

        #party.active {
            opacity: 0;
            pointer-events: none;
        }

        h2 {
            padding: 2vh;
            font-family: cursive;
            color: rgb(49, 41, 0);
            font-weight: bolder;
        }

        img {
            padding-top: 10vh;
        }
    }
}
