.menuBody {
    height: 10vh;
    width: 100vw;
    display: flex;
    .topMenu {
        height: 10vh;
        width: 100vw;
        display: flex;
        position: fixed;
        .logo {
            cursor: pointer;
            margin-top: 3.4vh;
            padding-top: 2vh;
            border-radius: 2px;
            height: 6vh;
            width: 30vw;
            text-align: center;
            font-family: "Courier New", Courier, monospace;
            font-size: larger;
            font-weight: bolder;
            color: rgba(255, 255, 255, 0.769);
            cursor: pointer;
        }
        .user {
            margin-left: 32vw;
            font-size: 1.5em;
            padding-top: 4.5vh;
            width: 20vw;
            padding-left: 9vw;
            .cart {
                cursor: pointer;
                display: flex;
                width: 10vw;
                height: 5vh;
                padding: 1vh;
                p {
                    padding-top: 1vh;
                    padding-left: 1vw;
                    color: rgba(255, 255, 255, 0.769);
                }
            }
        }
        .burger {
            background-color: rgb(200, 70, 10);
            cursor: pointer;
            margin-top: 4.5vh;
            display: flex;
            width: 10vw;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 5vh;
            .lanes {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                div {
                    background-color: rgba(255, 255, 255, 0.769);
                    height: 0.2vh;
                    width: 5vw;
                }
            }
        }
    }
}
.popBody {
    margin-top: 2vh;
    padding-top: 5vh;
    height: 50vh;
    width: 50vw;
    text-align: center;
    margin-left: 28vw;
    position: fixed;
    transform: translateY(-150%);
    visibility: hidden;

    .itemization {
        color: white;
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            li {
                border: 1px solid inherit;
                cursor: pointer;
                width: 35vw;
                text-align: center;
                font-size: 2em;
                padding: 1vh;
                background-color: rgba(249, 117, 10, 0.879);
            }
            li:hover {
                scale: 1.04;
                transition: 0.3s;
            }
        }
    }
}

.activate {
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s;
}
