.showPBody {
    height: 100vh;
    text-align: center;
    justify-content: center;
    margin-top: 2vh;
    .showPDet {
        color: white;
        gap: 5vh;
        display: flex;
        justify-content: center;
        text-align: center;
        ul {
            background-color: rgba(251, 121, 0, 0.936);
            width: 60vw;
            height: 45vh;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            gap: 1vh;
            display: flex;
            flex-direction: column;
            transition: 0.2s;

            h1 {
                font-size: 2em;
            }
            li {
                width: 50vw;
                font-size: 1.5em;
                letter-spacing: 1px;
            }
        }

        ul:hover {
            scale: 1.02;
        }
    }
    .buyItem {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        padding-left: 2.5vw;

        h1 {
            font-size: 3em;
            padding-left: 4vw;
            padding-right: 4vw;
            color: white;
            cursor: pointer;
        }
        button {
            border: none;
            background-color: rgb(244, 75, 3);
        }
        #minus {
            background-color: rgb(244, 75, 3);
        }
        #quant {
            background-color: rgb(244, 75, 3);
        }
        #plus {
            background-color: rgb(244, 75, 3);
        }
    }
}
